* {
  color: #fffcef;
  font-family: 'Teko', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "blog blog blog" "footer footer footer";
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  text-decoration: none;
  height: 100px;
  margin-bottom: 50px;
  font-weight: 700;
}

nav a {
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: overline underline;
  color: #87a884;
}

h1 {
  margin-bottom: 50px;
  font-size: 60px;
  margin-left: 40px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: blog;
  width: 100%;
  height: auto;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  margin: 0 auto;
}

.main .container .card {
  width: 300px;
  max-width: 95%;
  height: 500px;
  padding: 40px;
  margin: 4px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-color: rgba(48, 47, 47, 0.521);
}

.main .container .card h2 {
  margin: 10px 0;
  font-size: 2rem;
  color: #87a884;
  line-height: 1.2;
}

.main .container .card p {
  margin-bottom: 20px;
}

.main .container .card .date {
  color: #aaaaaa;
  font-size: 15px;
  margin-bottom: 50px;
}

.main .container .card:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.button {
  position: relative;
  padding: 12px 30px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid transparent;
  text-decoration: none;
  color: #749e70;
}

.button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  color: grey;
}

footer div {
  margin-left: 20px;
  color: grey;
}

footer a {
  margin: auto 15px;
}

footer a img {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 414px) {
  nav {
    margin-bottom: 10px;
    font-size: 18px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav a {
    margin: 0px;
  }
  h1 {
    font-size: 40px;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=blog.css.map */