$maincolor: black;
$secondarycolor: #fffbe9;
$accentcolor: #98b796;


body {
    background-color: $maincolor;
    color: $secondarycolor;
    font-family: 'Teko', sans-serif;
    max-width: 900px;
    margin: auto;
    div {
        max-width: 90%;
        margin: auto;
        // back button
        a{
            text-decoration: none;
            color: $secondarycolor;
}
    }


//blog post
article {
    max-width: 90%;
    }
    h2 {
        font-size: 35px;
        color: $accentcolor;
    }
    .date .time {
        line-height: 1px;
        font-size: 15px;
        margin-bottom: 25px;
    }
    img {
        text-align: center;
        max-width: 100%;
    }
    .text {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 20px;
    }
}


//footer
footer {
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    margin: auto 0;
    color: grey;
    div {
        margin: 0;
        color: grey;
    }
    a {
        margin: auto 15px;
        // social media icons
        img {
            height: 30px;
            width: 30px;
        }
    }
}
