$maincolor: black;
$secondarycolor: #fffcef;
$accentcolor: #87a884;

//desktop design is defult

// style for all the elements
* {
    color: $secondarycolor;
    font-family: 'Teko', sans-serif;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}


body {
    background-color: $maincolor;
    display: grid;
    grid-template-areas: "header header header"
                        "blog blog blog"
                        "footer footer footer"
                        ;
    max-width: 1024px;
    margin: 0 auto;

}

// navigation bar
nav {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    height: 100px;
    margin-bottom: 50px;
    font-weight: 700;
    a {
        margin-left: 25px;
        margin-right: 25px;
        text-decoration: none;
    }
    // on hover nav link will change colour and get an under- and overline
    a:hover {
        text-decoration: overline underline;
        color: $accentcolor;
    }
}

h1 {
    margin-bottom: 50px;
    font-size: 60px;
    margin-left: 40px;
}

//blog cards
.main {
    grid-area: blog;
    width: 100%;
    height: auto;
    background-color: $maincolor;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
        margin: 0 auto;
        .card {
            width: 300px;
            max-width: 95%;
            height: 500px;
            padding: 40px;
            margin: 4px;
            border-radius: 10px;
            transition: transform 0.5s;
            background-color: rgba(48, 47, 47, 0.521);
            h2 {
                margin: 10px 0;
                font-size: 2rem;
                color: $accentcolor;
                line-height: 1.2;
            }
            p {
                margin-bottom: 20px;
            }
            .date {
                color: rgb(170, 170, 170);
                font-size: 15px;
                margin-bottom: 50px;
            }
            // hover effect, card will grow 1.07 times in size
            &:hover {
                transform: scale(1.07);
            }
            }
         
        }
    }

//buttons on blog cards
.button {
    position: relative;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid transparent;
    text-decoration: none;
    color: #749e70;

    //effects, button turns transparent and gets white border
    &:hover {
        background-color: transparent;
        border-color: white;
        color: white;
        transition-duration: 0.4s;    
    }
}


//footer
footer {
    grid-area: footer;
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    margin: auto 0;
    color: grey;
    div {
        margin-left: 20px;
        color: grey;
    }
    a {
        margin: auto 15px;
        // social media icons
        img {
            height: 30px;
            width: 30px;
        }
    }
}

//Phone design 414 * 736
//iPhone 6/7/8 Plus
@media only screen and (max-width: 414px) {
    nav {
        margin-bottom: 10px;
        font-size: 18px;
        justify-content: space-around;
        a {
            margin: 0px;
        }
    }
    h1 {
        font-size: 40px;
        margin-left: 20px;
    }
}